body {
  font-family: Georgia, serif;
  font-size: 0.9em;
}

.FigureLevel1 {
  font-weight: bold;
}

.FigureInfo {
  font-size: 0.8em;
}      

.error {
  background-color: #ffcc00;
}      

.figure,li {
  #font-size: 0.9em;
}      

#divVersion {
  font-size: 0.5em;
  float: left;
}

#divRoutine {
  //background: #fff4c2;
  position: fixed;
  z-index: 10000;
  right: 0.5em;
  top: 0.5em;
  _position: absolute;
  _top: expression((temp = 2 + (document.documentElement.scrollTop ?
        document.documentElement.scrollTop : document.body.scrollTop) ) + 'px' );
}

td {
  font-size: 0.8em;
  vertical-align: top;
}

.TablePrecedesFollows td {
  padding: 4px;
}

.variationSelected {
  padding-left: 3px;
  padding-right: 3px;
  background-color: #fff4c2;
  //background-color: #ffcc7f;
  color: #666666;
  text-decoration: none;
}
